body {
  background-color: palevioletred;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: azure;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
  color: azure;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
